/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* ctext */

    .ctext{
        h1, h2, h3, h4, h5, h6{line-height: 1.25;margin-bottom: 15px;font-weight: 700;}
        h1{font-size: 36px;}
        h2{font-size: 32px;}
        h3{font-size: 28px;}
        h4{font-size: 24px;}
        h5{font-size: 20px;}
        h6{font-size: 16px;}
        p{margin-bottom: 10px;font-size: 14px;}
    }

/* /ctext */

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:ProximaNova,arial,sans-serif;background:#fff;color:#333;position:relative;font-size: 16px;line-height: 1;

    /* styles for wp-admin panel */

    &.customize-support{
        .wp-panel-show{top:32px;} //fixed elements (if their has top:0) must has class .wp-panel-show
    }

    /* /styles for wp-admin panel */

}
img{vertical-align:bottom;border:0;max-width:100%;}

/* adapted styles for wp-admin panel */

@media screen and (max-width: 782px){

    body{
        &.customize-support{
            .wp-panel-show{top:46px;}
        }
    }

    #wpadminbar{position: fixed!important;}

}
/* /adapted styles for wp-admin panel */

/* /base styles */

/* wraps styling*/

.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1; padding: 0 15px}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/


.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}

input, textarea{
    &::-webkit-input-placeholder {color:#666666;}
    &:-moz-placeholder {color:#666666;opacity:1;}
    &::-moz-placeholder {color:#666666;opacity:1;}
    &:-ms-input-placeholder {color:#666666;}
}

/*End Layout*/

/*fonts*/
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

//  example -> @include font-face('PFDinTextPro', 'PFDinTextPro-Bold', 700, italic);

//@include font-face('Roboto', 'Roboto-Thin', 100);
//
//@include font-face('Roboto', 'Roboto-ThinItalic', 100, italic);
//@include font-face('Roboto', 'Roboto-Light', 300);
//@include font-face('Roboto', 'Roboto-LightItalic', 300, italic);

@include font-face('ProximaNova', 'ProximaNova-Thin', 100);
@include font-face('ProximaNova', 'ProximaNova-Light', 300);
@include font-face('ProximaNova', 'ProximaNova-Regular', 400);
@include font-face('ProximaNova', 'ProximaNova-Semibold', 600);

@include font-face('Oswald', 'Oswald-Light', 300);
@include font-face('Oswald', 'Oswald-Regular', 400);
@include font-face('Oswald', 'Oswald-Medium', 500);
@include font-face('Oswald', 'Oswald-Bold', 700);


//@include font-face('Roboto', 'Roboto-Italic', 400, italic);
//@include font-face('Roboto', 'Roboto-Medium', 500);
//@include font-face('Roboto', 'Roboto-MediumItalic', 500, italic);
//@include font-face('OpenSans', 'OpenSans-Semibold', 600);
//@include font-face('OpenSans', 'OpenSans-SemiboldItalic', 600, italic);
//@include font-face('Roboto', 'Roboto-Bold', 700);
//@include font-face('Roboto', 'Roboto-BoldItalic', 700, italic);
//@include font-face('Roboto', 'Roboto-Black', 900);
//@include font-face('Roboto', 'Roboto-BlackItalic', 900, italic);


h1 {font-size: 75px; font-family: Oswald, Arial; font-weight: 400; letter-spacing: 1.2px; margin-bottom: 38px;}
h2 {font-size: 50px; font-family: Oswald, Arial; font-weight: 400; letter-spacing: 1px; margin-bottom: 58px; text-transform: uppercase; text-align: center;}
h3 {font-size: 32px; font-family: Oswald, Arial; font-weight: 300; color: #666666; margin: -3px 0; letter-spacing: 0.7px;}

p{font-weight: 300; line-height: 26px; margin: 12px 0 ; font-weight: 300;}
/*/fonts*/
.button {background-color: #189cd8; font-family: Oswald, Arial; text-transform: uppercase; text-decoration: none; color: #fff; display: inline-block; padding: 18px 55px; border-radius: 2px; letter-spacing: 0.4px; margin: 18px 0; transition: all 0.2s;
    &:hover {opacity: 0.8;}
}



body {
    &:after {content: ''; background-image: url(images/main-bg.png); opacity: 0.05; top: 139px; left: 0; bottom: 0; right: 0; position: absolute; z-index: -1; background-repeat: repeat-y; background-position: center;}
}

input.error {box-shadow: 0 0 5px red;}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; }


.slick-arrow {width: 25px; height: 25px;display: block; line-height: 1; font-size: inherit; opacity: 0.8;
    &:before { content: ''; display: block; width: 25px; height: 25px; border-top: 2px solid #93c01f; border-right: 2px solid #93c01f; transform: rotateZ(45deg); transition: all 0.2s;}
    &:hover {opacity: 1; }
}
.slick-prev{
    &:before {transform: rotateZ(-135deg);}
}

@media (max-width: 900px) {
    .header {
        &__sticks {display: flex;}
        &__links {display: none;}
    }
}


.header { border-bottom: 1px solid #d7d7d7; position: fixed; width: 100%;  background-color: #ffff; z-index: 100;
    &__wrapper {display: flex; justify-content: space-between; align-items: center;}
    &__sticks { width: 36px; height: 22px; display: flex; justify-content: space-between; flex-direction: column; cursor: pointer; display: none;
        span {width: 100%; height: 2px; background-color: #93c01f; transition: all 0.2s;}
        &.active { justify-content: center; align-items: center; position: relative;
            span:first-child {transform: rotateZ(405deg); position: absolute; top: 50%;}
            span:nth-child(2) {position: absolute; top: 50%; transform: rotateZ(495deg)}
            span:last-child {transform: rotateZ(-405deg);position: absolute; top: 50%;}
        }
    }
    &__links {width:100%; display: flex; justify-content: space-around; transition: all 0.2s;
        a {white-space: nowrap;}
        &.active {display: block; position: absolute;background-color: #fff;  transform: scale(1, 1); border-radius: 4px;}
    }
    &__logo {min-width: 263px; transition: all 0.5s;}
    &__box { display: flex; align-items: center; justify-content: space-between; height: 138px; transition: all 0.5s;
        &.fix_head {height: 85px;}
    }
    &__menu {  margin-right: 13px;  padding: 0 50px; width: calc(100% - 401px); }
    &__link {color: #333; text-decoration: none; margin: 0 5px; transition: all 0.2s; position: relative;
        &:after {content: ''; display: none; width: 100%; position: absolute; height: 3px; background-color: #ffffff; top: -61px; transition: all 0.2s;}
        &:hover {color: #000;
            &:after {content: ''; display: block; width: 100%; position: absolute; height: 3px; background-color: #189cd8; top: -61px;}
        }
    }
    &__number {font-size: 20px; font-family: Oswald, Arial; font-weight: 500; margin: 5px 0; text-decoration: none; color: #333333; display: block; }
    &__call {font-family: Oswald, Arial; font-weight: 400; color: #93c01f; letter-spacing: 1.55px;
        &:hover {text-decoration: none;}
    }
    &__tel { display: flex; align-items: center; justify-content: flex-end; min-width: 167px;}
    &__callback {margin-bottom: 4px;}
    &__cell {margin: 3px 14px 0 0;}
}
.header__box.fix_head {
    .header__link {
        &:hover {
            &:after {top: -35px;}
        }
    }
    .header__logo {padding: 0 70px 0 0; width: 263px; min-width: auto;}
}

.main { background-size: cover; padding-top: 139px; min-height: 100vh; position: relative;
    .mbox {position: static;}
    &__box { display: flex;}
    &__image {width: 50%; position: absolute; right: 0; bottom: 0; z-index: 1; }
    &__info { width: 50%; display: flex; flex-direction: column; align-items: flex-start; padding: 66px 0px;}
    &__text {font-weight: 100; font-size: 20px; color: #000; line-height: 28px; letter-spacing: 0.6px; margin-bottom: 45px;}
}

.propose { padding: 33px 0 29px 0;
    &__head {text-align: center;}
    &__vertical {width: 262px; height: 420px;}
    &__item { position: relative; display: block; transition: all 0.4s; overflow: hidden; width: 100%; height:100%; opacity: 0;
        &.animated {opacity: 1;}
        img {width: 100%; height: 100%; object-fit: cover;}
        &:hover { transform: scale(1.02);
            div {height: 100%; background-color: rgba(0,0,0,0.75); opacity: 1; }
            span {bottom: 50%; transform: translateY(50%); margin: 0;}
        }
    }
    &__gradient {position: absolute; top: 0; left: 0; background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0, 0, 0, 0)); z-index:10; width: 100%; height: 100%;opacity: 1; transition: all 0.2s;
        span {padding: 0 10px; text-transform: uppercase; color: #fff; line-height: 25px; margin: 21px 0; position: absolute; bottom: 0; width: 100%; transition: all 0.2s; text-align: center;  }
    }
    &__row {display: flex; width: 100%; justify-content: space-between; max-height: calc(50% - 30px); margin-bottom: 30px;}
    &__content { display: flex; justify-content: space-between;}
    &__horizontal {width: calc(100% - 292px); margin-left: 30px;}
    &__pic {width: 360px; height: 195px;
        &--big {width: calc(100% - 390px); height: 195px;}
    }
}


@keyframes rotation {
    0% {transform: rotateZ(0deg);}
    100% {transform: rotateZ(360deg);}
}

@keyframes rotation2 {
    0% {transform: rotateZ(60deg);}
    100% {transform: rotateZ(420deg);}
}
.decimals {margin-top: 40px; background-size: cover;
    &__box { padding: 32px 0px 67px; }
    &__circle {width: 158px; height: 158px; border-radius: 50%; background-color: #f9f9f9; display: flex; align-items: center; justify-content: center;
        span {font-family: Oswald, Arial; font-weight: 700; font-size: 75px;color: #93c01f;}
    }
    &__item-box {width: 30%;}
    &__rounds {padding: 0px 12px; opacity: 0; transform: scale(0,0); transition: all 0.3s;
        &.animated {opacity: 1; transform: scale(1,1);}
    }
    &__item {margin: 0 auto;display: flex; flex-direction: column; align-items: center;}
    &__outer { position: relative; width: 195px; height: 195px; background-color: transparent; border-radius: 50%; display: flex; align-items: center; justify-content: center;
        &>img {position: absolute; top: 0; left: 0; animation-name: rotation; animation-duration: 5s; animation-iteration-count: infinite; animation-timing-function: linear;}
    }
    &__border { display: flex; align-items: center; justify-content: center; position: absolute;
        &>img {position: absolute; top: 0; left: 0; animation-name: rotation2; animation-duration: 8s; animation-iteration-count: infinite; animation-timing-function: linear;}
    }
    &__text {text-align: center; font-weight: 600; font-size: 16px; margin-top: 17px; line-height: 25px;}
}

.documents {margin-bottom: 47px;
    &__box {padding: 32px 0;}
    &__items {  margin: 0 -16px;}
    &__doc {margin: 0 auto; width: 262px; opacity: 0; transition: all 0.3s;
        &.animated {opacity: 1;}
    }
    &__slide {margin: 0 16px; }
    &__img {position: relative; cursor: pointer; width: 100%;
        &:hover {
            &:after { position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.3); content: ''; display: block; top: 0; left: 0; background-image: url(images/lupa.png); background-position: center; background-repeat: no-repeat;

            }
        }
    }
}

.about {background-size: cover; color: #666666;
    &__head {text-align: center;}
    &__box {padding: 31px 0 102px;}
    &__info {display: flex; justify-content: space-between; margin: 0 -10px; }
    &__col {width: 50%; margin: 0 10px; padding: 0 4px; opacity: 0; transition: all 0.4s;
        &.animated {opacity: 1;}
        img {width: 100%; object-fit: cover;}
    }
    &__block {margin-bottom: 30px; opacity: 0; transition: all 0.4s;
        &.animated {opacity: 1;}
        p{ margin-bottom: 15px;
            b {margin-left: 30px;}
        }
        ul { font-weight: 300; list-style-type: none; margin: 14px 0; padding: 0px 0 0 22px;
            li { position: relative; line-height: 26px; margin-bottom: 10px;
                &:before { content: ''; position: absolute; width: 6px; height: 6px; display: block; background-color: #93c01f; border-radius: 50%; left: -20px; top: 9px;}
            }
        }
    }
}

.contacts { background-size: cover;
    &__col {width: 50%;}
    &__box { display: flex; justify-content: space-between; padding: 31px 0 100px; width: 100%;}
    &__form-place { width: 100%; text-align: center; background-color: #ededed; margin-top: 50px; display: flex; justify-content: center; align-items: center; flex-direction: column;     padding: 57px 74px 50px; opacity: 0; transform: translateY(-100%); transition: all 0.3s;
        &.animated { opacity: 1;  transform: translateY(0);}
        h3 {margin-bottom: 5px;}
    }
    &__form { width: 100%;
        form {display: flex; flex-direction: column; align-items: center; margin-top: 9px;}
        button {margin-top: 31px;}
    }
    &__input {border: 0; margin: 10px 0; width: 100%; height: 50px; text-align: center; border-radius: 2px;}
    &__green {background-color: #fff; border-radius: 2px; border: 12px solid #93c01f; padding: 24px 40px 1px;
    }
    &__row {display: flex; align-items: center; justify-content: flex-start; margin-bottom: 20px;
        svg {margin-right: 18px;}
        a {display: flex; align-items: center;}
        p {margin: 0;}
    }
    &__head { text-align: left; margin-left: 34px;
        h2 {text-align: left;}
    }
    &__inner {padding: 0 65px 0 84px; opacity: 0; transform: translateY(100%); transition: all 0.3s;
        &.animated { opacity: 1; transform: translateY(0);}
    }
    &__call {font-family: Oswald, Arial; font-weight: 300; font-size: 32px; color: #333333; text-decoration: none;}
    &__mail { color: #666666;
        &:hover {text-decoration: none;}
    }
}

.copyright { background-color: #333333;
    &__box {height: 59px; display: flex; align-items: center; justify-content: center; color: #fff; font-size: 14px;}
}

@media (max-width: 1150px) {
    .documents {
        &__items {width: 95%; margin: 0 auto;}
    }
}
@media (max-width: 1130px) {
    .contacts {
        &__box {flex-wrap: wrap;}
        &__col {width: 100%;}
        &__head {
            h2 {text-align: center; margin-left: 0;}
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__sticks {display: flex;}
        &__links {  transform: scale(1, 0); position: absolute; display: block; transform-origin: 0% 0%; top: 40px;
            width: 100%; box-shadow: 0 0 10px rgba(0,0,0,0.5); left: 0;
            a {display: block;  padding: 15px 45px; margin: 0;
                &:hover {background-color: #cccccc;
                    &:after {display: none;}
                }
            }
        }
        &__menu {display: flex; justify-content: center; position: relative;  width: calc(100% - 401px); margin-right: 0; padding: 0; }
    }
    .decimals {
        &__rounds {
            width: 80%;
            margin: 0 auto;
        }
    }
    .ask__content {
        height: 63vh;
    }
}

@media (max-width: 980px) {
    .about {
        &__info {flex-wrap: wrap;}
        &__col {width: 100%; margin-bottom: 20px;
            img {height: 300px;}
        }
    }
}
@media (max-width: 905px) {
    .documents {
        &__items {width: 75%;}
    }
    .propose {
        &__row {flex-wrap: wrap;}
        &__pic {width: 47%;
            &--big {width: 47%;}
        }
    }
}
@media (max-width: 867px) {
    .main {
        &__info {width: 60%; }
        &__image {width: 40%;}
    }
}

@media (max-width: 768px) {
    h1 {font-size: 40px; margin-bottom: 18px;}
    h2 {font-size: 30px; margin-bottom: 45px;}
    h3 {font-size: 23px;}
    button {font-size: 14px; margin: 13px 0;}
    .main {min-height: auto;}
    .header__box.fix_head {height: 105px;
        .header__logo {width: 100%; padding: 0;
            a {width: 183px;}
        }
        .header__links {top: 35px;}
    }
    .documents { margin-bottom: 22px;
        &__doc {width: 195px;}
        &__box {
            h2 {margin-top: 22px;}
        }
    }
    .decimals { margin-top: 0;
        &__rounds {width: 75%;}
        &__box {padding-top: 18px; padding-bottom: 35px;}
    }
    .header {
        &__box {flex-wrap: wrap; height: 164px;}
        &__logo {width: 100%; display: flex; justify-content: center; padding: 8px 0 18px;
            a {width: 230px;}
        }
        &__menu {padding: 0 11px; width: calc(100% - 198px);
            justify-content: flex-start;
        }
        &__links {min-width: 70vw;}
        &__number {font-size: 23px;}
        &__call {display: none;}
        &__tel {padding-right: 12px;}
        &__cell {margin-top: 0;}
    }
    .propose {padding-bottom: 9px;
        &__row {flex-wrap: wrap;}
        &__pic {width: 47%;
            &--big {width: 47%;}
        }
        &__content {flex-wrap: wrap;}
        &__vertical {width: 100%; height: 195px;  display: flex; justify-content: center; margin-bottom: 30px;
            a {width: 100%;}
        }
        &__horizontal {width: 100%; margin: 0;}
    }
    .main {
        &__info {padding: 42px 0px 66px;}
        &__text {font-size: 14px; margin-bottom: 0;}
    }
    .about {
        &__box {padding-top: 23px; padding-bottom: 0;}
        &__block {
            p {font-size: 14px;}
            li {font-size: 14px;}
        }
    }
    .contacts {
        &__form-place {padding: 24px; margin-top: 15px;}
        &__green {padding: 12px;}
        &__box {padding-top: 20px; padding-bottom: 40px;}
        &__head h2{margin-bottom: 20px;}
    }
}
@media (max-width: 580px) {
    .contacts {
        &__inner {
            padding: 0;
        }
        &__head {margin-left: 0;}
    }
}
@media (max-width: 480px) {

    .propose {
        &__item { height: 195px; width: 100%;}
        &__row {flex-wrap: wrap; margin-bottom: 0px;
            max-height:   initial;}
        &__pic {width: 100%;
            &--big {width: 100%; }
        }
        &__vertical {margin-bottom: 15px;
            a {width: 100%;}
        }
        &__pic {margin-bottom: 15px;
            &--big {margin-bottom: 15px;}
        }
    }
    .main {
        &__info {width: 100%;}
        &__image {display: none;}
    }

}


.ask {width: 770px; background-color: #efefef; padding: 68px 68px 50px; color: #666666; border-radius: 2px;
    h3 {text-align: center; margin-bottom: 60px;}
    &__content {height: 480px; overflow-y: scroll; }
    &__box {background-color: #fff; padding: 30px; border-radius: 2px;
        .about__block {opacity: 1;
            ul {margin-bottom: 15px;}
            p {margin-bottom: 15px;}
        }
    }
    &__button { display: flex; justify-content: center; padding-top: 22px;  }
}
.fancybox-close-small {
    &:after {background-color: transparent;}
}

.ask__content::-webkit-scrollbar {
    -webkit-appearance: none; }
.ask__content::-webkit-scrollbar:vertical {
    width: 10px; }
.ask__content::-webkit-scrollbar:horizontal {
    height: 10px; }
.ask__content::-webkit-scrollbar-thumb {
    background-color: #969696;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #f1f4f5; }
.ask__content::-webkit-scrollbar-track {
    background-color: #f1f4f5; }


.callback {width: 578px; background-color: #efefef;
    .send {border: 0; width: 100%;}
    padding: 60px 80px;
    align-items: center; display: flex; flex-direction: column; justify-content: center;
    &__form-place {
        h3 {text-align: center;}
        p {text-align: center;}
    }
}

@media (max-width: 580px) {
    .callback {width: 100%; padding: 30px 20px;}

}
@media (max-width: 772px) {
    .ask {width: 100%; padding: 30px 15px 25px; height: 86vh;
        h3 {margin-bottom: 25px;}
        &__box {padding: 12px;}
        &__content {padding-right: 20px; height: 54vh;}
    }
}

#call_success {background-color: #efefef;
    h3 {margin-bottom: 20px; text-align: center;}
}


@media (max-height:  812px) {
    .ask__content {
        height: 56vh;
    }
}

@media (max-height:  667px) {
    .ask__content {
        height: 50vh;
    }
}

@media (max-height:  640px) {
    .ask__content {
        height: 49vh;
    }
}

@media (max-height:  568px) {
    .ask__content {
        height: 41vh;
    }
    .ask {
        height: 83vh;
    }
}
.propose__row:last-child {flex-wrap: nowrap;}
//* {border: 1px solid red;}

