<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="header__box">
                <div class="header__logo">
                    <a href="">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>


                <div class="header__menu header-menu">
                    <div class="header__sticks js-show-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__links">
                        <a href="#prop" class="header__link scrollto">Послуги</a>
                        <a href="#certificates" class="header__link scrollto">Сертифікати</a>
                        <a href="#aboutus" class="header__link scrollto">Про нас</a>
                        <a href="#contactus" class="header__link scrollto">Контакти</a>
                    </div>

                </div>
                <div class="header__tel">
                    <div class="header__cell">
                        <svg width="22" height="37">
                            <use xlink:href="#phone"></use>
                        </svg>
                    </div>
                    <div class="header__callback">
                        <a class="header__number" href="tel:80971582873">8 097 158 28 73</a>
                        <!--<div class="header__number"></div>-->
                        <a href="#callback__form" data-fancybox class="header__call">Замовити дзвінок</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

