<div class="hidden-block">

    <div id="callback__form" class="callback">
        <div class="callback__form-place">
            <h3>Замовте консультацію</h3>
            <p>Та Наш оператор звяжеться з Вами<br>
                протягом декількох хвилин</p>
            <div class="contacts__form">
                <form action="ajax-programer.php" id="userform2">
                    <input required="required" name="name" type="text" class="contacts__input" placeholder="Ваше ім'я">
                    <input required="required" name="phone" type="text" class="contacts__input tel-mask" placeholder="Ваш телефон">
                    <input type="hidden" name="footer-form" value="Поп-ап">
                    <button type="submit" class="button send">замовити</button>
                </form>
            </div>
        </div>
    </div>

    <div id="callback__form1" class="callback">
        <div class="callback__form-place">
            <h3>Замовте консультацію</h3>
            <p>Та Наш оператор звяжеться з Вами<br>
                протягом декількох хвилин</p>
            <div class="contacts__form">
                <form action="ajax-programer.php" id="userform3">
                    <input required="required" name="name" type="text" class="contacts__input" placeholder="Ваше ім'я">
                    <input required="required" name="phone" type="text" class="contacts__input tel-mask" placeholder="Ваш телефон">
                    <input type="hidden" name="footer-form" value="АРХІТЕКТУРА ТА МІСТОБУДУВАННЯ">
                    <button type="submit" class="button send">замовити</button>
                </form>
            </div>
        </div>
    </div>

    <div id="callback__form2" class="callback">
        <div class="callback__form-place">
            <h3>Замовте консультацію</h3>
            <p>Та Наш оператор звяжеться з Вами<br>
                протягом декількох хвилин</p>
            <div class="contacts__form">
                <form action="ajax-programer.php" id="userform4">
                    <input required="required" name="name" type="text" class="contacts__input" placeholder="Ваше ім'я">
                    <input required="required" name="phone" type="text" class="contacts__input tel-mask" placeholder="Ваш телефон">
                    <input type="hidden" name="footer-form" value="ТОПОГРАФО-ГЕОДЕЗИЧНІ ПОСЛУГИ">
                    <button type="submit" class="button send">замовити</button>
                </form>
            </div>
        </div>
    </div>

    <div id="callback__form3" class="callback">
        <div class="callback__form-place">
            <h3>Замовте консультацію</h3>
            <p>Та Наш оператор звяжеться з Вами<br>
                протягом декількох хвилин</p>
            <div class="contacts__form">
                <form action="ajax-programer.php" id="userform5">
                    <input required="required" name="name" type="text" class="contacts__input" placeholder="Ваше ім'я">
                    <input required="required" name="phone" type="text" class="contacts__input tel-mask" placeholder="Ваш телефон">
                    <input type="hidden" name="footer-form" value="ЗЕМЛЕВПОРЯДНІ ПОСЛУГИ">
                    <button type="submit" class="button send">замовити</button>
                </form>
            </div>
        </div>
    </div>

    <div id="callback__form4" class="callback">
        <div class="callback__form-place">
            <h3>Замовте консультацію</h3>
            <p>Та Наш оператор звяжеться з Вами<br>
                протягом декількох хвилин</p>
            <div class="contacts__form">
                <form action="ajax-programer.php" id="userform6">
                    <input required="required" name="name" type="text" class="contacts__input" placeholder="Ваше ім'я">
                    <input required="required" name="phone" type="text" class="contacts__input tel-mask" placeholder="Ваш телефон">
                    <input type="hidden" name="footer-form" value="ЮРИДИЧНІ ПОСЛУГИ">
                    <button type="submit" class="button send">замовити</button>
                </form>
            </div>
        </div>
    </div>

    <div id="ask" class="ask">
        <h3>АРХІТЕКТУРА ТА МІСТОБУДУВАННЯ</h3>
        <div class="ask__box">
            <div class="ask__content">
                <div class="about__block">
                    <p class="about__head"><b>Індивідуальний проект будинку, чи то житлового, чи для ведення бізнесу, це можливість для людини створити простір, який повністю відповідає його потребам і можливостям</b></p>
                    <br>
                    <p>
                        <b>Архітектурне проектування</b>
                        <br>
                       Проекти будинків та котеджів одноповерхових, двоповерхових. Проекти будинків з мансардою, з гаражем, терасою та іншими приміщеннями. Послуги архітектора. Створення індивідуальних проектів будинків під замовлення.
                    </p>
                    <p>
                        <b>Розробка містобудівної документації</b>
                        <br>
                        Генеральний план населеного пункту, план зонування території (зонінг) та детальний план території – різновиди містобудівної документації на місцевому рівні. Вони стосуються конкретного населеного пункту та визначають довгострокову і короткострокову стратегії планування не лише його забудови, а й розвитку.
                    </p>
                    <p>
                        <b>Отримання містобудівних умов та обмежень земельної ділянки</b>
                        <br>
                        Документ, що містить комплекс вимог до проектування і будівництва на визначеній земельній ділянці. Дані вимоги визначають:
                    </p>
                    <ul>
                        <li>Архітектура та містобудування;</li>
                        <li>Топографо-геодезичні роботи;</li>
                        <li>Кадастрова зйомка;</li>
                        <li>Землевпорядні роботи;</li>
                        <li>Юридичне супроводження.</li>
                    </ul>
                    <p>
                        <b>Отримання технічних умов на електрофікацію чи газофікацію</b>
                        <br>
                        Це комплекс вимог до інженерного забезпечення об’єкта будівництва, які повинні відповідати його розрахунковим параметрам. У технічних умовах враховується, що місце приєднання інженерних мереж замовника розташовується на межі або на території земельної ділянки, яка перебуває у власності чи користуванні.
                    </p>
                </div>
            </div>

        </div>
        <div class="ask__button">
            <a href="#callback__form1" data-fancybox class="button">замовити консультацію</a>
        </div>

    </div>

    <div id="ask2" class="ask">
        <h3>ТОПОГРАФО-ГЕОДЕЗИЧНІ ПОСЛУГИ</h3>
        <div class="ask__box">
            <div class="ask__content">
                <div class="about__block">
                    <p>
                        <b>Топографічна зйомка місцевості</b>
                        <br>
                        Топографічна зйомка місцевості  (масштабів 1:500 – 1:5000) виконується з метою створення плану території відповідного масштабу для відображення ситуації (об’єкти нерухомості, інженерні мережі і т.д.) та створення цифрової моделі місцевості із врахуванням висот для побудови рельєфу.
                    </p>
                    <p>
                        <b>Кадастрова зйомка</b>
                        <br>
                        Виконується для присвоєння земельній ділянці кадастрового номера, внесення в Державний земельний кадастр та формування електронного обмінного файлу. Зазвичай кадастрову зйомку замовляють для отримання дозволу в органах місцевого самоврядування або державної влади на відведення чи приватизацію земельних ділянок. Після виконання геодезичних робіт, обробки геоданих і створення кадастрового плату стає зрозумілим розмір вільної земельної ділянки та її площа.
                    </p>
                    <p>
                        <b>Винесення меж земельної ділянки в натуру</b>
                        <br>
                        Геодезичні роботи з фізичного закріплення та встановлення меж земельної ділянки межовими знаками (розбивка або розмітка земельної ділянки).
                    </p>

                </div>
            </div>

        </div>
        <div class="ask__button">
            <a href="#callback__form2" data-fancybox class="button">замовити консультацію</a>
        </div>

    </div>


    <div id="ask3" class="ask">
        <h3>ЗЕМЛЕВПОРЯДНІ ПОСЛУГИ</h3>
        <div class="ask__box">
            <div class="ask__content">
                <div class="about__block">
                    <p class="about__head"><b>Індивідуальний проект будинку, чи то житлового, чи для ведення бізнесу, це можливість для людини створити простір, який повністю відповідає його потребам і можливостям</b></p>
                    <br>
                    <p>
                        <b>Приватизація земельної ділянки під дачними, садовими, садибними, громадськими і виробничими будинками (будівлями)</b>
                    </p>
                    <p>
                        <b>Розроблення проектів із землеустрою щодо відведення земельної ділянки у власність чи користування (оренду)</b>
                    </p>
                    <p>
                        <b>Розроблення проектів із землеустрою щодо зміни цільового призначення земельної ділянки</b>
                    </p>
                    <p>
                        <b>Розроблення технічної документації щодо встановлення (відновлення) меж земельної ділянки в натурі (на місцевості) з присвоєнням кадастрового номера</b>
                    </p>
                    <p>
                        <b>Розробка технічної документації щодо поділу та об’єднання земельних ділянок</b>
                    </p>
                    <p>
                        <b>Розроблення технічної документація із землеустрою щодо проведення інвентаризації землі</b>
                    </p>
                    <p>
                        <b>Розроблення технічної документація із землеустрою щодо встановлення меж частини земельної ділянки, на яку поширюється право суборенди, сервітуту</b>
                    </p>
                    <p>
                        <b>Розроблення проекту землеустрою щодо зміни меж (часткової) населених пунктів</b>
                    </p>
                    <p>
                        <b>Експертна чи нормативно-грошова оцінка земельної ділянки</b>
                    </p>
                </div>
            </div>

        </div>
        <div class="ask__button">
            <a href="#callback__form3" data-fancybox class="button">замовити консультацію</a>
        </div>

    </div>


    <div id="ask4" class="ask">
        <h3>ЮРИДИЧНІ ПОСЛУГИ</h3>
        <div class="ask__box">
            <div class="ask__content">
                <div class="about__block">
                    <p>
                        <b>Підготовка документів для відчуження земельної ділянки</b>
                        <br>
                        Для складання цивільно-правового договору (купівля-продаж, дарування, міни землі/будинку або договору про поділ майна), що включає у себе комплекс послуг, що допоможуть запобігти усіх можливих ризиків для обох сторін при укладанні угоди:
                    </p>
                    <ul>
                        <li>Проведення переговорів</li>
                        <li>Аналіз умов операції, аудит правовстановлюючих документів, а також перевірка і контроль умов дотримання розрахунків</li>
                        <li>Складання попереднього та основного договорів</li>
                        <li>Підготовка пакету документів для відчуження майна (експертна грошова оцінка земельних ділянок та будинків)</li>
                        <li>Оптимізація грошових та часових витрат за угодою.</li>
                    </ul>
                    <p>
                        <b>Реєстрація прав на нерухоме майно та відновлення втрачених документів на будинок або землю </b>
                    </p>
                    <p>
                        <b>Отримання дозвільних документів для будівництва, введення в експлуатацію будівель та узаконення самовільного будівництва </b>
                    </p>
                    <p>
                        <b>Вирішення судових спорів щодо поділу нерухомого майна </b>
                    </p>
                    <p>
                        <b>Юридичний супровід при оформленні спадщини</b>
                    </p>
                    <p>
                        <b>Аудит земельної ділянки та перевірка легітимності прав</b>
                    </p>
                    <p>
                        <b>Вирішення спірних питань щодо погодження меж земельної ділянки з суміжними землекористувачами</b>
                    </p>
                    <p>
                        Допоможемо Вам з’ясувати всі обставини придбання, продажу, використання та розвитку земельної ділянки, виявлення «підводних каменів» і можливих ризиків, ретельно вивчити правову історію об’єкта, що зацікавив: починаючи з моменту набуття прав на об’єкт нерухомого майна та простежити легітимність кожного переходу речових прав на нього, тощо.
                    </p>
                </div>
            </div>

        </div>
        <div class="ask__button">
            <a href="#callback__form4" data-fancybox class="button">замовити консультацію</a>
        </div>

    </div>



    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title"><h3>Дякуємо за заявку!</h3></div>
                 <div class="call-subtitle"><p>Ми зв'яжемось з вами у найближчий час!</p></div>
             </div>
        </div>
    </div>


</div>