
<div class="main" style="background-image: url(images/bg.png);">
    <div class="mbox">
        <div class="main__box">
            <div class="main__info">
                <h1>Ренесанс груп</h1>
                <span class="main__text">просте вирішення складних питань. Наша команда кваліфікованих спеціалістів радо надасть Вам повний комплекс геодезичних та землевпорядних послуг. Наша місія — зняти з Вас вантаж тяганини з оформленням документів на землю. Наші фахівці — запорука Вашого спокою та впевненості у результаті!</span>
                <a href="#callback__form" data-fancybox class="button">ДІЗНАТИСЬ ПОДРОБИЦІ</a>
            </div>
            <div class="main__image">
                <img src="images/geo.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="propose" id="prop">
    <div class="mbox">
        <div class="propose__head">
            <h2>МИ ПРОПОНУЄМО</h2>
        </div>
        <div class="propose__content section-animate">
            <div class="propose__vertical">
                <a href="#ask" data-fancybox class="propose__item animate-delay">
                    <img src="images/first.jpg" alt="">
                    <div class="propose__gradient">
                        <span>архітектура <br> і містобудування</span>
                    </div>
                </a>
            </div>
            <div class="propose__horizontal">
                <div class="propose__row">
                    <div class="propose__pic">
                        <a href="#ask2" data-fancybox class="propose__item animate-delay">
                            <img src="images/second.jpg" alt="">
                            <div class="propose__gradient">
                                <span>Топографо - геодезичні<br>роботи</span>
                            </div>
                        </a>
                    </div>
                    <div class="propose__pic--big">
                        <a href="#ask3" data-fancybox class="propose__item animate-delay">
                            <img src="images/third.jpg" alt="">
                            <div class="propose__gradient">
                                <span>землевпорядні роботи</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="propose__row">
                    <div class="propose__pic--big">
                        <a href="#ask4" data-fancybox class="propose__item animate-delay">
                            <img src="images/third.jpg" alt="">
                            <div class="propose__gradient">
                                <span>юридичний <br> супровід</span>
                            </div>
                        </a>
                    </div>
                    <!--<div class="propose__pic">-->
                        <!--<a href="#" class="propose__item animate-delay">-->
                            <!--<img src="images/second.jpg" alt="">-->
                            <!--<div class="propose__gradient">-->
                                <!--<span>юридичний <br> супровід</span>-->
                            <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="decimals section-animate" style="background-image: url(images/dec_bg.jpg);">
    <div class="mbox">
        <div class="decimals__box">
            <h2>декілька цифр</h2>
            <div class="decimals__rounds js-slide-rounds animate-it">
                <div class="decimals__item-box">
                    <div class="decimals__item">
                        <div class="decimals__outer">
                            <img src="images/circle.png" alt="">
                            <div class="decimals__border">
                                <img src="images/inner-circle.png" alt="">
                                <div class="decimals__circle">
                                    <span class="counter go-counter"  data-options-startN="1" data-options-endN="258"></span>
                                </div>
                            </div>
                        </div>
                        <div class="decimals__text">Клієнтів</div>
                    </div>
                </div>
                <div class="decimals__item-box">
                    <div class="decimals__item">
                        <div class="decimals__outer">
                            <img src="images/circle.png" alt="">
                            <div class="decimals__border">
                                <img src="images/inner-circle.png" alt="">
                                <div class="decimals__circle">
                                    <span class="counter go-counter"  data-options-startN="1" data-options-endN="34"></span>
                                </div>
                            </div>
                        </div>
                        <div class="decimals__text">Населених пунктів</div>
                    </div>
                </div>
                <div class="decimals__item-box">
                    <div class="decimals__item">
                        <div class="decimals__outer">
                            <img src="images/circle.png" alt="">
                            <div class="decimals__border">
                                <img src="images/inner-circle.png" alt="">
                                <div class="decimals__circle">
                                    <span class="counter go-counter"  data-options-startN="1" data-options-endN="563"></span>
                                </div>
                            </div>
                        </div>
                        <div class="decimals__text">Спірних земельних питань вирішено</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="documents" id="certificates">
    <div class="mbox">
        <div class="documents__box section-animate">
            <h2 class="animate-it">Сертифікати та статутні документи</h2>
            <div class="documents__items js-slide-docs animate-it">
                <div class="documents__slide">
                    <div class="documents__doc animate-delay">
                        <div class="documents__img" data-fancybox="gallery" href="images/certif-1-u.png">
                            <img src="images/certif-1-u.png" alt="">
                        </div>

                        <div class="decimals__text">
                            Сертифікат “Землевимірювань”
                        </div>
                    </div>
                </div>
                <div class="documents__slide">
                    <div class="documents__doc animate-delay">
                        <div class="documents__img" data-fancybox="gallery" href="images/certif-2-u.png">
                            <img src="images/certif-2-u.png" alt="">
                        </div>
                        <div class="decimals__text">
                            Сертифікат “Землевимірювань”
                        </div>
                    </div>
                </div>
                <div class="documents__slide">
                    <div class="documents__doc animate-delay">
                        <div class="documents__img" data-fancybox="gallery" href="images/certif-3-u.png">
                            <img src="images/certif-3-u.png" alt="">
                        </div>
                        <div class="decimals__text">
                            Сертифікат “Землевимірювань”
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about" style="background-image: url(images/about_bg.jpg);" id="aboutus">
    <div class="mbox">
        <div class="about__box section-animate">
            <h2 class="animate-it">про компанію</h2>
            <div class="about__info">
                <div class="about__col animate-delay">
                    <img src="images/about.jpg" alt="">
                </div>
                <div class="about__col animate-delay">
                    <div class="about__block animate-delay">
                        <!--<h3>Ренесанс груп -</h3>-->
                        <!--<p>землевпорядна організація, що виконує повний спектр:-->
                            <!--землевпорядних, геодезичних, послуг з реєстрації нерухомого майна на території м.Хмельницький і Хмельницької області та ін.</p>-->
                        <!--<p><b>Колектив підприємства</b> це досвідчені фахівці своєї справи.-->
                            <!--Кваліфікаційні сертифікати інженерів землевпорядників-->
                            <!--№ 003585, 001279, інженера - геодезиста № 010171.</p>-->
                        <p>На сьогоднішній день ми працюємо на ринку послуг із землевпорядкування, містобудування та топографо-геодезичного знімання. Надаємо комплексний юридичний супровід юридичним особам, різних форм власності, та фізичним особам.</p>
                        <p>Довіра клієнта – наше найважливіше завдання, яке ми підтверджуємо якісними, вигідними та максимально оптимальними умовами виконання робіт та надання послуг. Працюємо тільки на договірних засадах.</p>
                        <p>Ми працюємо з Вами і для Вас, та як Виконавець, зробимо все можливе, щоб Ви залишилися задоволеними. Вам не доведеться ходити по кабінетах та вистоювати довжелезні черги, ми виконаємо роботу від початку до кінця.</p>
                        <p>Наші консультації спрямовані на максимальний результат, злагоджений темп роботи, який плавно переходить у готовий проект.</p>
                        <p>Ми цінуємо своїх клієнтів, враховуємо всі можливі побажання та стараємося для Вас. Наші тарифи дозволяють обрати оптимальні для Вас умови виконання робіт за строками і вартістю. А команда з інженерів, юристів та кваліфікованих спеціалістів, які мають значний досвід за плечима, зможуть легко активізувати наші сили у співпраці з Вами.</p>
                    </div>
                    <!--<div class="about__block animate-delay">-->
                        <!--<h3>Виконуємо такі послуги:</h3>-->
                        <!--<ul>-->
                            <!--<li>Оформлення земельних ділянок (у власність, оренду, постійне користування) для фізичних і юридичних осіб (в тому числі для ОСББ) по р .. Київ та Київській області;</li>-->
                            <!--<li>Оптимізація земельного податку;</li>-->
                            <!--<li>Поновлення договору оренди земельної ділянки та внесення змін до договору (від подачі клопотання в КГС ....... до договору оренди);-->
<!--Розробка всіх видів документації із землеустрою;</li>-->
                            <!--<li>Всі види геодезичних послуг;</li>-->
                            <!--<li>Послуги з реєстрації нерухомого майна в Державному реєстрі речових прав.</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contacts" style="background-image: url(images/contacts_bg.jpg);" id="contactus">
    <div class="mbox">
        <div class="contacts__box section-animate">
            <div class="contacts__col">
                <div class="contacts__form-place animate-delay">
                    <h3>Замовте консультацію</h3>
                    <p>Та Наш оператор звяжеться з Вами<br>
                        протягом декількох хвилин</p>
                    <div class="contacts__form">
                        <form action="ajax-programer.php" id="userform">
                            <input required="required" name="name" type="text" class="contacts__input" placeholder="Ваше ім'я">
                            <input required="required" name="phone" type="text" class="contacts__input tel-mask" placeholder="Ваш телефон">
                            <input type="hidden" name="footer-form" value="Нижня форма">
                            <button type="submit" class="button contacts__input">замовити</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="contacts__col">
                <div class="contacts__inner animate-delay">
                    <div class="contacts__head">
                        <h2 class="animate-it">Наші контакти</h2>

                    </div>
                    <div class="contacts__green">
                        <div class="contacts__row">
                            <svg width="28" height="28">
                                <use xlink:href="#pointer"></use>
                            </svg>
                            <p>Хмельницкий, Вул. Подільська 24/2</p>
                        </div>
                        <div class="contacts__row">
                            <a href="tel:8-800-123-45-67" class="contacts__call">
                                <svg width="22" height="37">
                                    <use xlink:href="#phone"></use>
                                </svg>
                                8 097 158 28 73
                            </a>
                        </div>
                        <div class="contacts__row">
                            <p>
                                <a href="mailto:renesans.groups@gmail.com" class="contacts__mail">
                                    <svg width="23" height="17">
                                        <use xlink:href="#letter"></use>
                                    </svg> renesans.groups@gmail.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>